/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  body {
    width: 100%;
  }
  .header-section .container {
    text-align: center;
  }
  .main-header-section .container .boxes .row {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .main-header-section .container .boxes .row .left-col,
  .main-header-section .container .boxes .row .center-col,
  .main-header-section .container .boxes .row .right-col {
    width: 100%;
  }
  .the-third-section .container .row .box-left-right {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .the-fourth-section .container .row .box-left-right {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .the-fourth-section .container .row .box-left-right .right-col img {
    width: 75%;
  }
  .the-form-section .container .row .text-form {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .the-form-section .container .row .text-form .left-col {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
  form {
    width: 90%;
    padding: 2rem 4rem;
    margin-left: 2rem;
  }
  .the-form-section .container .row .text-form .right-col form input {
    margin-left: 0;
    width: 100%;
  }
  .the-carousel-section
    .container
    .carousel
    .carousel-inner
    .carousel-item
    .logos-img {
    padding-right: 7rem;
    padding-top: 3rem;
  }
  footer .container .row .col-md {
    display: none;
  }
}
/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    width: 100%;
  }
  .header-section .container {
    text-align: center;
  }
  .main-header-section .container .boxes .row {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .main-header-section .container .boxes .row .left-col,
  .main-header-section .container .boxes .row .center-col,
  .main-header-section .container .boxes .row .right-col {
    width: 100%;
  }
  .the-third-section .container .row .box-left-right {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .the-fourth-section .container .row .box-left-right {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .the-fourth-section .container .row .box-left-right .right-col img {
    width: 75%;
  }
  .the-form-section .container .row .text-form {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .the-form-section .container .row .text-form .left-col {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
  form {
    width: 100%;
    padding: 2rem 4rem;
    margin-left: 0rem;
  }
  .the-form-section .container .row .text-form .right-col form input {
    margin-left: 0;
    width: 100%;
  }
  .the-form-section .container .row .text-form .right-col form .btn {
    padding: 8px 6rem;
    margin-right: 4rem;
  }
  .the-form-section .container .row .text-form .right-col form .title-signup,
  .the-form-section .container .row .text-form .right-col form .text-or,
  .the-form-section .container .row .text-form .right-col form a img {
    margin-right: 5rem;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    width: 100%;
  }
  .header-section .container {
    text-align: center;
  }
  .main-header-section .container .boxes .row .right-col {
    text-align: center;
  }
  .the-third-section .container .row .box-left-right {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .the-fourth-section .container .row .box-left-right {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .the-fourth-section .container .row .box-left-right .right-col img {
    width: 100%;
  }
  .the-form-section .container .row .text-form {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .the-form-section .container .row .text-form .left-col {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
  form {
    width: 100%;
    padding: 2rem 4rem;
    margin-left: 0rem;
  }
  .the-form-section .container .row .text-form .right-col form input {
    width: 100%;
  }
  .the-form-section .container .row .text-form .right-col form .btn {
    padding: 8px 11.5rem;
    margin-right: 3rem;
  }
  .the-form-section .container .row .text-form .right-col form .title-signup,
  .the-form-section .container .row .text-form .right-col form .text-or,
  .the-form-section .container .row .text-form .right-col form a img {
    margin-right: 5rem;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    width: 100%;
  }
  .main-header-section .container .boxes .row .right-col {
    text-align: center;
  }
  .the-fourth-section .container .row .box-left-right .right-col img {
    width: 100%;
  }
  .the-form-section .container .row .text-form {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .the-form-section .container .row .text-form .left-col {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
  form {
    width: 100%;
    padding: 2rem 4rem;
    margin-left: 0rem;
  }
  .the-form-section .container .row .text-form .right-col form input {
    width: 100%;
  }
  .the-form-section .container .row .text-form .right-col form .btn {
    padding: 8px 17.5rem;
    margin-right: 5rem;
  }
  .the-form-section .container .row .text-form .right-col form .title-signup,
  .the-form-section .container .row .text-form .right-col form .text-or,
  .the-form-section .container .row .text-form .right-col form a img {
    margin-right: 5rem;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    width: 100%;
  }
  .main-header-section .container .boxes .row .right-col {
    text-align: center;
  }
}
